# vim:ft=ansible:
production: &base
  exsules:
    host: exsules.com
    port: 443
    https: true

    from_email: 'noreply@exsules.com'
    support_email: 'support@exsule.com'

    server:
      title: "Exsules Alpha"

    game:
      speed: 1
      price: 1
      size: 400

    users:
      username_blacklist:
        - 'root'
        - 'supportdetails'
        - 'support-details'
        - 'stacks'
        - 'imulus'
        - 'github'
        - 'twitter'
        - 'facebook'
        - 'google'
        - 'apple'
        - 'about'
        - 'account'
        - 'activate'
        - 'add'
        - 'admin'
        - 'administrator'
        - 'api'
        - 'app'
        - 'apps'
        - 'archive'
        - 'archives'
        - 'auth'
        - 'blog'
        - 'bot'
        - 'cache'
        - 'cancel'
        - 'careers'
        - 'cart'
        - 'changelog'
        - 'checkout'
        - 'codereview'
        - 'compare'
        - 'config'
        - 'configuration'
        - 'connect'
        - 'contact'
        - 'create'
        - 'delete'
        - 'direct_messages'
        - 'documentation'
        - 'download'
        - 'downloads'
        - 'edit'
        - 'email'
        - 'employment'
        - 'enterprise'
        - 'faq'
        - 'favorites'
        - 'feed'
        - 'feedback'
        - 'feeds'
        - 'fleet'
        - 'fleets'
        - 'follow'
        - 'followers'
        - 'following'
        - 'friend'
        - 'friends'
        - 'gist'
        - 'group'
        - 'groups'
        - 'help'
        - 'home'
        - 'hosting'
        - 'hostmaster'
        - 'hostname'
        - 'idea'
        - 'ideas'
        - 'index'
        - 'info'
        - 'invitations'
        - 'invite'
        - 'is'
        - 'it'
        - 'job'
        - 'jobs'
        - 'json'
        - 'language'
        - 'languages'
        - 'lists'
        - 'login'
        - 'logout'
        - 'logs'
        - 'mail'
        - 'map'
        - 'maps'
        - 'mine'
        - 'mis'
        - 'news'
        - 'oauth'
        - 'oauth_clients'
        - 'offers'
        - 'openid'
        - 'order'
        - 'orders'
        - 'organizations'
        - 'plans'
        - 'popular'
        - 'post'
        - 'postmaster'
        - 'privacy'
        - 'projects'
        - 'put'
        - 'recruitment'
        - 'register'
        - 'remove'
        - 'replies'
        - 'root'
        - 'rss'
        - 'sales'
        - 'save'
        - 'search'
        - 'security'
        - 'sessions'
        - 'settings'
        - 'shop'
        - 'signup'
        - 'sitemap'
        - 'ssl'
        - 'ssladmin'
        - 'ssladministrator'
        - 'sslmaster'
        - 'sslwebmaster'
        - 'status'
        - 'stories'
        - 'styleguide'
        - 'subscribe'
        - 'subscriptions'
        - 'support'
        - 'sysadmin'
        - 'sysadministrator'
        - 'terms'
        - 'tour'
        - 'translations'
        - 'trends'
        - 'unfollow'
        - 'unsubscribe'
        - 'update'
        - 'url'
        - 'user'
        - 'weather'
        - 'webmaster'
        - 'widget'
        - 'widgets'
        - 'wiki'
        - 'ww'
        - 'www'
        - 'wwww'
        - 'xfn'
        - 'xml'
        - 'xmpp'
        - 'yaml'
        - 'yml'
        - 'chinese'
        - 'mandarin'
        - 'spanish'
        - 'english'
        - 'bengali'
        - 'hindi'
        - 'portuguese'
        - 'russian'
        - 'japanese'
        - 'german'
        - 'wu'
        - 'javanese'
        - 'korean'
        - 'french'
        - 'vietnamese'
        - 'telugu'
        - 'chinese'
        - 'marathi'
        - 'tamil'
        - 'turkish'
        - 'urdu'
        - 'min-nan'
        - 'jinyu'
        - 'gujarati'
        - 'polish'
        - 'arabic'
        - 'ukrainian'
        - 'italian'
        - 'xiang'
        - 'malayalam'
        - 'hakka'
        - 'kannada'
        - 'oriya'
        - 'panjabi'
        - 'sunda'
        - 'panjabi'
        - 'romanian'
        - 'bhojpuri'
        - 'azerbaijani'
        - 'farsi'
        - 'maithili'
        - 'hausa'
        - 'arabic'
        - 'burmese'
        - 'serbo-croatian'
        - 'gan'
        - 'awadhi'
        - 'thai'
        - 'dutch'
        - 'yoruba'
        - 'sindhi'

development:
  <<: *base
  exsules:
    host: localhost
    port: 4200

    server:
      title: "exsules development"

    game:
      size: 50

test:
  <<: *base
  exsules:
    host: localhost
    port: 80

    server:
      title: "exsules testing"

    game:
      speed: 10
      price: 10
      size: 100

